* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

ul {
  list-style: none;
}

.logo {
  width: 272px;
}

.input-container {
  position: relative;
  /* align-self: center; */
}

.magnifying-glass-icon {
  position: absolute;
  top: 13px;
  left: 15px;
  color: rgba(128, 128, 128, 0.444);
}

.search-input {
  width: 90vw;
  max-width: 582px;
  font-size: 15px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.444);
  /* text-indent: 30px; */
  padding-left: 40px;
  padding-right: 100px;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 3px gray;
  }
}

.rhs-icons-container {
  position: absolute;
  right: 30px;
  top: 13px;
  color: rgba(128, 128, 128, 0.444);
}
.camera-icon,
.microphone-icon {
  margin-left: 10px;
  cursor: pointer;
}

.buttons-container button {
  margin: 3px;
  padding: 10px 18px;
  border: none;
  color: rgba(0, 0, 0, 0.9);
  background-color: #f8f9fa;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  }

  &:active {
    outline: 1px solid #1a73e8;
  }
}

/* header */

.top-right-navigation-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 20px;
  padding: 18px;
  font-size: 14px;
}

.top-right-navigation-bar a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.fa-flask,
.fa-border-none {
  font-size: 18px;
  padding: 10px;

  &:hover {
    background-color: rgba(179, 179, 179, 0.2);
    border-radius: 50%;
  }
}

.profile-icon {
  border-radius: 50%;
  width: 32px;
}

/* footer */

footer {
  background-color: rgba(223, 223, 223, 0.391);
  padding: 25px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-links a {
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    text-decoration: underline;
  }
}

.footer-links-left,
.footer-links-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-p1 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.354);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
